
.body{
  height: 98vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.input-box{
  display: flex;
  gap: 15px;
  margin-inline: 1%;
  width: 98vw;

  text-align: left;
  font-size: 40px;
  color: #c4c4c4;
}

.input-box input{
  width: inherit;
  font-size: 40px;
  border-radius: 16px;
  padding: 15px 15px;
  border: 1px solid white;
  background-color: #383838;
}

.input-box button{
  background-color: #383838;
  border: 1px solid white;
  border-radius: 32px;
}

.chat-area{
  height: 100%;
  background-color: #383838;
  border-radius: 16px;
  border: 1px solid white;
  width: 98vw;
  margin-inline: 1%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
